<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<servlet>
		<servlet-name>FantasyWebdav</servlet-name>
		<servlet-class>com.fantasystep.servlet.FantasyWebdavServlet</servlet-class>
		<init-param>
			<param-name>rootpath</param-name>
			<param-value>/repository</param-value>
		</init-param>
		<security-role-ref>
			<role-name>FantasyWebdav</role-name>
		</security-role-ref>
	</servlet>
	<servlet-mapping>
		<servlet-name>FantasyWebdav</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>

	<!-- 
	<servlet>
		<servlet-name>webdav</servlet-name>
		<servlet-class>net.sf.webdav.WebdavServlet</servlet-class>
		<init-param>
			<param-name>ResourceHandlerImplementation</param-name>
			<param-value>net.sf.webdav.LocalFileSystemStore</param-value>
		</init-param>
		<init-param>
			<param-name>rootpath</param-name>
			<param-value>/repository</param-value>
		</init-param>
		<init-param>
			<param-name>storeDebug</param-name>
			<param-value>0</param-value>
		</init-param>
	</servlet>
	 -->
	<!-- Roles -->

	<security-role>
		<role-name>FantasyWebdav</role-name>
	</security-role>

	<!-- Login config -->

	<login-config>
		<auth-method>BASIC</auth-method>
		<realm-name>myrealm</realm-name>
	</login-config>
	
</web-app>
